body {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100vh;          
  margin: 0;              
}

#btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #00BFFF;
  cursor: pointer;
  border-radius: 20cm;
  transition: background-color 2s ease;
}
#btn.animar {
    animation: pulse 3s infinite;
    background-color: #90EE90;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
button:hover {
    opacity: 70%;
}